@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .btn-red{
        @apply font-roboto text-xl bg-red text-white px-6 py-2 rounded-lg hover:text-red hover:bg-white;
    }

    .btn-yellow{
        @apply font-roboto text-xl bg-yellow text-black px-6 py-2 rounded-lg hover:bg-white;
    }

}

:root{
    --black: hsla(234, 15.2%, 12.9%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --blue-dark: hsla(215, 17.6%, 13.3%, 1);

    --red: hsla(350, 73.8%, 59.6%, 1);
    --yellow: hsla(48, 100%, 59.2%, 1);
    --aqua: hsla(170, 43.5%, 63.9%, 1);
}